My_Datasets/

My_PCB_det/Results/
My_PCB_det/Weights/
My_PCB_det/logs/

My_TAOD/Train_Classification/models/
My_TAOD/Train_Classification/samples/

TrainedModels/

My_TAOD/TA/TA_Results/

Projects_Done/My_class_mli/data